<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="topic-status" content="Draft" />
</head>
<body>
  <div class="rh-layout-footer-outer-box" style="background-color: #EFEFEF;">
    <div class="rh-layout-footer-inner-left-box" style="background-color: #EFEFEF;"><img class="rh-layout-footer-imgTag" src="./Group 114.svg" title ="image" />
      <div>
        <p style="text-align: center;background-color: #EFEFEF;color: rgb(0,0,0,);line-height: 2;margin: 0;"><span style="color:#ffffff;"></span><span style="color:rgb(0,0,0,);">EN</span></p>
      </div>
    </div>
    <div class="rh-layout-footer-inner-right-box" style="background-color: #EFEFEF;">
      <div class="rh-layout-footer-inner-right-box1" style="background-color: #EFEFEF;">
        <p style="text-align: center;background-color:  #EFEFEF;color: rgb(0,0,0,);height: 100%;line-height: 2;margin: 0;"><a href="http://www.example.com" style="color: black; text-decoration: none;">Contact Us</a></p>
      </div>
      <div class="rh-layout-footer-inner-right-box2" style="background-color: #EFEFEF;">
        <p style="text-align: center;background-color:  #EFEFEF;color: rgb(0,0,0,);line-height: 2;margin: 0;"><span style="font-size: 11pt;"><a href="http://www.example.com" style="color: black; text-decoration: none;">Privacy Policy</a></span></p>
      </div>
      <div class="rh-layout-footer-inner-right-box3" style="background-color: #EFEFEF;">
        <p style="text-align: center;background-color:  #EFEFEF;color: rgb(0,0,0,);line-height: 2;margin: 0;"><a href="http://www.example.com" style="color: black; text-decoration: none;">Terms and Conditions<a/></p>
      </div>
      <div class="rh-layout-footer-inner-right-box4" style="background-color: #EFEFEF;">
        <p style="text-align: center;background-color:  #EFEFEF;color: rgb(0,0,0,);line-height: 2;margin: 0;"><a href="http://www.example.com" style="color: black; text-decoration: none;">Blog</a></p>
      </div>
    </div>
  </div>
</body>
</html>